@import url(//db.onlinewebfonts.com/c/f46feaacb3a98a0c8ff248b16f776698?family=Learning+Curve+Pro);

@font-face {
  font-family: "Learning Curve Pro";
  src: url("//db.onlinewebfonts.com/t/f46feaacb3a98a0c8ff248b16f776698.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f46feaacb3a98a0c8ff248b16f776698.woff")
      format("woff");
}

body {
  margin: 0;
  font-family: "Learning Curve Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
